<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Auth0 - AngularJS</a>

      <button
        class="btn btn-primary btn-margin"
        ui-sref="home">
          Home
      </button>

      <button
        id="qsLoginBtn"
        class="btn btn-primary btn-margin"
        ng-if="!$ctrl.auth.isAuthenticated()"
        ng-click="$ctrl.auth.login()">
          Log In
      </button>

      <button
        id="qsLogoutBtn"
        class="btn btn-primary btn-margin"
        ng-if="$ctrl.auth.isAuthenticated()"
        ng-click="$ctrl.auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>
